@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

$global-font-family: 'Inter', sans-serif;

$black: #0E1011;
$white: #ffffff;
$gray-500: #65747A;
$gray-600: #98A4A9;
$dark-green: #274551;
$green: #2AB459;
$blue-400: #CAE1EA;
$blue-500: #B7EBFF;
$blue-600: #00ADEE;
$blue-700: #2A6CB4;
$red-500: #E16363;
$red-600: #F23F3F;