.rules {
  flex: 1;
  margin: 93px 36px 0 36px;

  :global(:where(.css-dev-only-do-not-override-12jzuas).ant-btn) {
    padding: 22.5px 32px;
    margin: 56px 0 0 auto;
  }

  :global(.schild) {
    display: flex;

    > label {
      margin-left: 12px;
    }
  }
}