@import "@/app/styles/index";

.container {
  width: 1008px;
  margin-bottom: 56px;

  > .wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 20px 32px;
  }
}

.notification {
  display: flex;


  > .content {
    > p {
      margin: 0 0 0 12px;
      font-weight: 500;
      user-select: none;
    }

    > ul {
      user-select: none;
    }
  }
}