@import "@/app/styles/index";

.container {
  margin-top: 70px;

  .headerWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 48px;

    > .header {
      min-width: 961px;
      margin-right: 13px;

      > p {
        margin: 0;
        color: $gray-500;
      }
    }

    > .icon {
      cursor: pointer;
    }
  }

  .wrapperInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }

  .wrapperPhoto {
    height: 242px;
    width: 242px;
    margin-top: 48px;

    > .photoChildren {
      height: 224px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      display: block;
      border-radius: 50%;

      &__empty {

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue-450;
        height: 224px;
        width: 224px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
