@import "@/app/styles/index";

.custom-button {
  box-sizing: content-box;
  font-family: $global-font-family;
  border-radius: 4px;

  height: 35px;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  *,
  & {
    box-sizing: content-box;
  }

  .icon {
    height: 100%;
    display: flex !important;
    align-items: center;

    svg {
      path {
        // @include transition(0.2s);
      }
    }
  }

  &.align-left {
    justify-content: flex-start;
  }

  &.align-center {
    justify-content: center;
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.ant-btn-lg {
    padding: 3px 30px 3px 24px !important;
    font-size: 18px;
  }

  &.ant-btn-sm {
    padding: 12px 32px !important;
    font-size: 18px;
  }

  .child {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 5px;

    .icon {
      margin-top: 2px;
    }
  }

  .tag {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -17px;
    right: -15px;
  }

  &.ant-btn-ghost {
    padding: 36.5px 65px;
    color: $blue-600;
    border: 1px solid $blue-400;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  &.ant-btn-link {
    padding: 36.5px 65px;
    background-color: $blue-600;
    color: $white;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    &:hover {
      color: $white;
    }

    &:active {
      color: $white;
    }

    &:disabled {
      background: rgba(0, 173, 238, 0.3);
    }
  }

  &.ant-btn-primary {
    color: $blue-600;
    background: $white;
    border: 1px solid $blue-400;
    font-weight: 500;
    font-size: 20px;
    font-family: $global-font-family;
    line-height: 24px;
    box-shadow: none;

    &:hover {
      background: inherit !important;
      color: $blue-600 !important;
    }

    &:active {
      background: inherit !important;
      color: $blue-600 !important;
    }

    &.ant-btn-dangerous {
    }

    &:disabled,
    &:disabled:hover {
    }
  }

  &.ant-btn-default {
    padding: 20px 32px;
    color: $black;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    &:hover {
      color: inherit !important;
    }


    &.ant-btn-dangerous {
    }

    &:active {

      &.ant-btn-dangerous {
      }

    }

    &:disabled,
    &:disabled:hover {
    }
  }

  &.wide {
    padding-left: 40px;
    padding-right: 45px;
  }

  &.fullWidth {
    width: 100%;
  }

  &.button-active {
    border: 1px solid $blue-600;
  }
}